/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .slide-content .slide-text {
        font-size: 16px;
    }
}

/* mobile */
@media (min-width: 330px) and (max-width: 740px) {
    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block   ;
    }

    #header .menu-btn {
        display: block;
    }

    .slide-content {
        display: none;
    }

    .video {
        width: auto;
        height: auto;
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-list-1 {
        padding-bottom: 0;
    }

    #content .member-list-2 {
        padding-top : 0;
    }

    .mySlides img {
        height: 184px;
    }
}

/* smaller mobile */
@media (max-width: 329px) {
    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block   ;
    }

    #header .menu-btn {
        display: block;
    }

    .slide-content {
        display: none;
    }

    .video {
        width: auto;
        height: auto;
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-list-1 {
        padding-bottom: 0;
    }

    #content .member-list-2 {
        padding-top : 0;
    }
    
    #logo .name {
        font-size: 15px;
        top: 40px;
    }

    #logo .slogan {
        font-size: 10px;
        left: 65px;
    }

    #logo img {
        width: 70px;
        top: 23.5px;
        left: 210px;
    }
}