* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.button {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10.5px 16px;
    margin-bottom: 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ccc;
    color: #000;
}

.mt-8 {
    margin-top: 8px !important; 
}

.mv-16 {
    margin: 16px 0 !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100% / 3);
}

.col-fourth {
    width: calc(100% / 4);
}

.bold {
    text-decoration: bold;
}

.background-1 {
    background-color: #2A2550 !important;
}

.background-2 {
    background-color: #5C527F !important;
}

.background-3 {
    background-color: #3E2C41 !important;
}

.background-4 {
    background-color: #261C2C !important;
}

.background-5 {
    background-color: #171717 !important;
}

/* main */
#main {
    
}

#logo {
    height: 117px;
    padding: 28px 30px 30px;
    position: relative;
    font-weight: 700;
}

#logo::before {
    content: "";
    background-image: url("../img/Untitled27_20220318130340.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

#logo .name {
    display: inline-block;
    color: rgb(63, 255, 184);
    font-size: 23px;
    position: absolute;
    display: flex;
    text-decoration: uppercase;
    top: 36px;
    left: 50px;
}

#logo .slogan {
    color: rgb(63, 255, 184);
    font-size: 16px;
    display: inline-block;
    position: absolute;
    display: flex;
    top: 64px;
    left: 70px;
}
#logo img {
    width: 90px; 
    align-items: center;
    position: absolute;
    display: flex;
    top: 16px;
    left: 280px;
}

/* Start: header */
    /* Start: Nav */
#header {
    height: 46.5px;
    background-color: rgb(23, 32, 167);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgb(47 47 47 / 50%);
}

#nav, .sub_nav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 15px;
}

#nav .sub_nav a{
    color: #000;
    padding: 8px 16px;
    line-height: 22.5px;
    box-sizing: border-box;
    font-size: 15px;
}

#nav li > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 22.5px;
    padding: 12px 24px;
    display: inline-block;
}

#nav li:hover > a {
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .sub_nav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 
    0 4px 10px 0 rgb(0 0 0 / 20%),
    0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav li:hover .sub_nav {
    display: block;
}

#nav .nav_arrow_down {
    font-size: 12px;
}

    /* End: Nav */

    /* Start: search */
#header .menu-btn {
    width: 61.94px;
    line-height: 22.5px;
    padding: 12px 24px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.menu-btn .menu_icon {
    width: 100%;
    height: 13.94px;
    color: #fff;
}

.menu-btn:hover {
    background-color: #ccc;
}

.menu-btn:hover .menu-icon {
    color: #000;
}
    /* End: Search */
/* End: header */

.mySlides {
    position: relative;
    height: 100%;
}

.mySlides .slide-content {
    position: absolute;
    height: 120px;
    padding: 16px 16px;
    background-color: rgb(23, 32, 167);
    color: rgb(255, 255, 255);
    font-size: 18px;
    bottom: 0px;
    left: 0;
    right: 0;
    line-height: 1.4;
}

#slider .text-heading {
    margin: 10px 0;
    font-weight: 500;
}

#slider .text-description {
    margin: 15px 0;
    font-size: 15px;
    font-style: bold;
    font-weight: 700;
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    background-origin: border-box;  
    padding-left: 16px;
    padding-right: 16px;
}



#content .section-heading { 
    margin: 10px 0;
    font-size: 30px;
    font-weight: 250;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    margin: 15px 0;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    opacity: 0.9;
}

#content .content-section .about-text {
    text-align: justify;
    font-size: 16px;
    margin: 15px;
    line-height: 1.5;
}


#content .member-list-1,
#content .member-list-2 {
    /* display: inline-block; */
    text-align: center;
    font-size: 15px;
    padding: 32px 0;
}

#content .member-item {
    float: left;
}

#content .member-name {
    margin: 15px 0 ;
}

#content .member-img {
    /* vertical-align: middle; */
    max-width: 150px;
    max-height: 160px;
    margin: 0 0px 16px;
    border-radius: 4px;
} 

.sol-content {
    color: #fff;
    margin-top: 48px;
    text-align: justify;
    font-size: 16px;
    margin: 15px;
    line-height: 1.5;
}

h3.plastic {
    margin: 30px 0 15px;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    opacity: 0.9;
}

#content .ref-content-section {
    margin-left: auto;
    margin-right: auto;
    padding: 64px 12px 112px;
    background-origin: margin-box;
}

#Solution img{
    max-width: 50%;
    border-radius: 10px;
}

.Mush-img {
    width: 80%;
}

.sol-content-header {
    font-weight: bold;
}

.sol-content-sub-header {
    font-style: italic;
    font-weight: bold;
}

a:link {
    color: green;
    background-color: transparent;
}

a:visited {
    color: pink;
    background-color: transparent;
}

a:hover {
    color: orange;
    background-color: transparent;
}

#content .PH-img {
    padding: 12px 0;
    width: 80%;
    border-radius: 10px;
}

#Pollution-his .video {
    margin-top: 8px;
}

/* Map */
.map-section img {
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
    text-decoration: none;
}

#footer .social-list {
    font-size: 22px;
    
}

#footer .social-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

#footer .copyright {
    font-size: 15px;
    margin: 15px 0;
    color: rgba(0,0,0,0.8);
}

#footer .copyright a {
    color: rgba(0,0,0,0.8);
}

#footer .social-list a:hover,
#footer .copyright a:hover {
    color: rgba(0,0,0,0.4);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

@keyframes modalFaceIn{
    from {
        opacity: 0.2;
        transform: translateY(-300px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}